# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test


.env

# Output of the go coverage tool
*.out

# IDEs
.idea/
.vscode/

# build output
bin/
dist/

# apko and melange
melange.rsa
melange.rsa.pub
*.tar
packages/
packages-*/
sbom-index.*.json
sbom-*.json
.cache/
