# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test


# Output of the go coverage tool
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IDEs
.idea/
.vscode/

# build output
bin/
dist/
